Notebook Consists of,
# Operators
# Input and Output Function
# Data Structures
# Conditional_Statements
# Functions

In [5]:
import os
import pandas as pd
import numpy as np

In [2]:
curDir = os.getcwd()
print(curDir)

C:\Users\VigneshSS\Desktop\Untitled Folder 1

In [4]:
os.chdir(r"E:\AnalyticsVidhya\MasterProgram\Python for Business Analytics and Data Science")

In [5]:
os.getcwd()

'E:\\AnalyticsVidhya\\MasterProgram\\Python for Business Analytics and Data Science'

In [15]:
pwd()

'E:\\AnalyticsVidhya\\MasterProgram\\Python for Business Analytics and Data Science'

In [7]:
a = 10
b = 8

if((a>5) and (b<7)):
    print('Not working')
elif((a<2) and (b>5)):
    print('Smarter')
else:
    print("Success")

Success

In [8]:
x = input()

x = int(x)

if(x==2):
    print('Even')
else:
    print('odd')

501
odd

# Take input from the user in variable y and print "Grade A" if y is greater than 90, "Grade B" if y is greater than 60 but less than or equal to 90 and "Grade F" Otherwise.

In [10]:
y = input()

y = int(y)

if(y>90):
    print('Grade A')
elif((y<90) and (y>60)):
    print('Grade B')
else:
    print('Grade F')

80
Grade B

In [1]:
number = 10

while number>3:
    
    if number%2==0:
        number = number - 1
        continue
    else:
        print(number , end ='')
        number = number-1

975

# List

#Udemy -Python core and Advanced
1. Indexing
2. Slicing
3. repetition

In [20]:
my_list = [1,2,3,4,5,6,7,8,9,2510,10,11,22,258,456,789,999]

In [21]:
#Indexing
print(my_list[5])

6

In [22]:
#Slicing
print(my_list[5:9])

[6, 7, 8, 9]

In [23]:
#repetition
print(my_list*3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2510, 10, 11, 22, 258, 456, 789, 999, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2510, 10, 11, 22, 258, 456, 789, 999, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2510, 10, 11, 22, 258, 456, 789, 999]

In [24]:
#length of function
print(len(my_list))

17

In [25]:
my_lst = [1,5.5,10,'Vignesh', 32,89,89.5]

In [26]:
len(my_lst)

7

In [29]:
my_lst.append('Vicky')
my_lst

[1, 5.5, 10, 'Vignesh', 32, 89, 89.5, 'Vicky', 'Vicky', 'Vicky']

In [30]:
my_lst.remove('Vicky')

In [31]:
my_lst

[1, 5.5, 10, 'Vignesh', 32, 89, 89.5, 'Vicky', 'Vicky']

In [34]:
del(my_lst[5])

In [38]:
#my_lst.clear()
#my_lst

In [44]:
#my_list.sort()
my_list.sort(reverse = True)

In [45]:
my_list

[2510, 999, 789, 456, 258, 22, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [47]:
max(my_list)

2510

In [48]:
min(my_list)

1

In [9]:
#Analytics_Vidhya
my_list = [1,2,3,4,5,6,7,8,9,2510,10,11,22,258,456,789,999]

In [10]:
my_list[-2]

789

In [11]:
my_list[2]

3

In [12]:
len(my_list)

17

In [13]:
sorted(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 22, 258, 456, 789, 999, 2510]

In [17]:
#slicing
my_list[1:]

[2, 3, 4, 5, 6, 7, 8, 9, 2510, 10, 11, 22, 258, 456, 789, 999]

In [19]:
my_list[10::]

[10, 11, 22, 258, 456, 789, 999]

In [22]:
my_list[::5]

[1]

In [29]:
my_list.append(500)
my_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2510,
 10,
 11,
 22,
 258,
 456,
 789,
 999,
 500,
 500,
 [1, 2],
 500,
 500]

In [25]:
my_list.append([1,2])

In [30]:
my_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2510,
 10,
 11,
 22,
 258,
 456,
 789,
 999,
 500,
 500,
 [1, 2],
 500,
 500]

In [37]:
my_list.index(22)

12

In [38]:
my_list.index([1,2])

19

In [39]:
my_list.insert(4,'python')

In [40]:
my_list

[1,
 2,
 3,
 4,
 'python',
 5,
 6,
 7,
 8,
 9,
 2510,
 10,
 11,
 22,
 258,
 456,
 789,
 999,
 500,
 500,
 [1, 2],
 500,
 500]

In [41]:
90 in my_list

False

In [43]:
del my_list[0]   #index
my_list

[3,
 4,
 'python',
 5,
 6,
 7,
 8,
 9,
 2510,
 10,
 11,
 22,
 258,
 456,
 789,
 999,
 500,
 500,
 [1, 2],
 500,
 500]

In [44]:
my_list.remove(500)

In [45]:
my_list

[3,
 4,
 'python',
 5,
 6,
 7,
 8,
 9,
 2510,
 10,
 11,
 22,
 258,
 456,
 789,
 999,
 500,
 [1, 2],
 500,
 500]

# Tuple

In [50]:
tpl = (2,58,96,100,'Pythion')
print(tpl)

(2, 58, 96, 100, 'Pythion')

In [53]:
type(my_list)
type(tpl)
type(my_lst)

list

In [56]:
tpl[4]

'Pythion'

In [57]:
print(tpl.count(96))

1

In [58]:
print(tpl.index(58))

1

In [62]:
#convert list to tuple
lst = [1,5,8,9,'cool']
print(type(lst))
#Conversion
lst1 = tuple(lst)
print(type(lst1))

<class 'list'>
<class 'tuple'>

# Sets

In [63]:
#Set does not allow duplicates
#Set doesnot support indexing and slicing as well
s = {10,20,30,'xyz'}

In [64]:
print(type(s))

<class 'set'>

In [66]:
s.update([5,2,1,0])

In [73]:
s

{0, 1, 10, 2, 20, 5, 'xyz'}

In [74]:
s.remove(20)

In [76]:
#Frozen_Set

# Range

In [83]:
r = range(5,20,2)

In [84]:
for i in r:
    print(i)

5
7
9
11
13
15
17
19

# Bytes and Bytes_Array

In [85]:
#bytesarray has indexing values whereas bytes doesnot support indexing
lst =[20,21,2,230,255]

In [87]:
b1= bytes(lst)
print(type(lst))
print(type(b1))

<class 'list'>
<class 'bytes'>

In [88]:
b2 = bytearray(lst)
b2[2]= 221
print(type(b2))

<class 'bytearray'>

In [89]:
b2
#Slicing and removing is not supported in either of this.

bytearray(b'\x14\x15\xdd\xe6\xff')

# Dictionary

In [91]:
dict = {1:'john', 2:'bob', 3: 'aladdin'}
dict

{1: 'john', 2: 'bob', 3: 'aladdin'}

In [94]:
print(dict.items())
print(dict.keys())  #using keys
print(dict.values())  #Using values

for i in dict.values():
    print(i)

dict_items([(1, 'john'), (2, 'bob'), (3, 'aladdin')])
dict_keys([1, 2, 3])
dict_values(['john', 'bob', 'aladdin'])
john
bob
aladdin

In [95]:
print(dict[2])

bob

In [96]:
del dict[2]

In [97]:
print(dict)

{1: 'john', 3: 'aladdin'}

# operator and Operands

In [98]:
a = 100 
b = 5

In [100]:
#Arithmetic_Operator
print('Add :' , a+b)
print('Sub :' , a-b)
print('Mult :' , a*b)
print('Div :' , a/b)
print('MOd :' , a%b)
print('floor divi :' , a//b)
print('Powe :', a**b)

Add : 105
Sub : 95
Mult : 500
Div : 20.0
MOd : 0
floor divi : 20
Powe : 10000000000

In [101]:
x = 10
y =5

In [108]:
#Assignment_Operator
x-=y
print(x)

10

In [106]:
x+=y
print(x)

20

In [110]:
#Comparison_Operator

==
!=
>
<
>=
<=
x,y = 77,8

In [112]:
print(x == y)
print(x >= y)
print(x <= y)
print(x != y)
print(x > y)
print(x < y)

False
True
False
True
True
False

In [114]:
#Logical_Operator
# 1.and 2.or 3.not
x, y = 2030,2031

In [121]:
print((x==20 and y==25))
print((x==20 or y==25))
print(not(x==20 or y==25))
print(not(x==20 and y==25))

False
False
True
True

# Input and Output Functions

In [122]:
#1. input  -> to get input from the user
#2. print  -> to get output from the user

#  \n -> to print in new line
#  sep =''
# %s   -> string
# %i  -> integer
# %f  -> float

In [131]:
name = "vicky"
marks = 95

print(name, marks)
print("Name is:", name, "Marks is:", marks)
print("Name is {}, marks are {}". format(name, marks))
print("Name is %s, Marks are %.2f"%(name,marks))
print("Name is {0}, Marks are {1}". format(name, marks))

vicky 95
Name is: vicky Marks is: 95
Name is vicky, marks are 95
Name is vicky, Marks are 95.00
Name is vicky, Marks are 95

In [132]:
s = input()
print(s)

1
1

In [133]:
i = int(input('Enter the integer number'))
print(i)

Enter the integer number5
5

In [135]:
j =(input('Enter the name:'))
print(j)

Enter the name:wa
wa

In [136]:
print(type(j))

<class 'str'>

In [138]:
#Using_Split_Function
lst = [x for x in input('Ente the number:').split(',')]
print(lst)

Ente the number:1 2 3
['1 2 3']

In [140]:
lst = [int(x) for x in input('Ente the number:').split(',')]
print(lst)

Ente the number:1,2,3
[1, 2, 3]

In [139]:
lst = [float(x) for x in input('Ente the number:').split(',')]
print(lst)

Ente the number:1,2,3
[1.0, 2.0, 3.0]

# Average of three Numbers

In [ ]:
a,b,c =[int(x) for x in input('Enter the numbers').split()]
Average = (a+b+c)/3
print('The avergae is:',Average)

# Area of Circle

In [3]:
r = float(input('Area of circle'))
radius = 3.14*r**2
print('The area of circle is%.2f'%radius)

Area of circle5.
The area of circle is78.50

In [4]:
import math  #For all Math Functions

# Function

In [1]:
def add_one(number):
    return number +1

In [2]:
add_one(100)

101

In [3]:
def my_function(number):
    
    if number<5:
        return add_one(number)
    else:
        return add_one(number - 5)

In [5]:
my_function(my_function(10))

2

In [6]:
x = 3
y = 3

def function(number = 4):
    global x
    x =number
    y =number

In [8]:
function(5)
print(x,y)

5 3

# Strip the Space

In [10]:
str = '  you are awesome'

In [12]:
print(str.strip())
#lstrip   -> For removing the spaces n left side
#rstrip   -> For removing the spaces n right side

you are awesome

In [13]:
#count of prticular variable in string
print(str.count('w'))

1

In [16]:
#find the character in string
print(str.find('som', 0,10))  #providing the step and length
print(str.find('som'))

-1
13

In [17]:
print(str.replace('awesome', 'super'))

  you are super

In [18]:
print(str.upper())
print(str.lower())
print(str.title())

  YOU ARE AWESOME
  you are awesome
  You Are Awesome