In [1]:
import pandas as pd
import numpy as np

In [2]:
copy_customer = pd.read_excel('Copy of renttherunway - cat and sizes -alphasizes.xlsx')
copy_customer.head()

,Product,Category,item_id,size,user_id,Size convention used (Num/Alpha),Alphabetical_size,New product code,str,fit
0,sweater,Women's Topwear,2251739,8,276186,Alpha,M,232899,sweater22517398,fit
1,sweater,Women's Topwear,2107747,14,24792,Alpha,L,154002,sweater210774714,large
2,sweater,Women's Topwear,2576170,14,849315,Alpha,L,279859,sweater257617014,fit
3,sweater,Women's Topwear,2533108,14,921464,Alpha,L,259136,sweater253310814,fit
4,pullover,Women's Topwear,2130194,8,585892,Alpha,M,708064,pullover21301948,large

In [3]:
copy_customer = copy_customer.drop(['Product', 'Category', 'item_id', 'size','Size convention used (Num/Alpha)','str'], axis =1)
copy_customer.head()

   user_id Alphabetical_size  New product code    fit
0   276186                 M            232899    fit
1    24792                 L            154002  large
2   849315                 L            279859    fit
3   921464                 L            259136    fit
4   585892                 M            708064  large

In [4]:
copy_customer = copy_customer.rename(columns={'New product code': 'item_id'})
copy_customer.head()

   user_id Alphabetical_size  item_id    fit
0   276186                 M   232899    fit
1    24792                 L   154002  large
2   849315                 L   279859    fit
3   921464                 L   259136    fit
4   585892                 M   708064  large

In [5]:

print('The shape is :', copy_customer.shape)
print('The Number of Unique id is', (copy_customer.user_id.nunique()))

The shape is : (2240, 4)
The Number of Unique id is 1663

In [6]:
#List the NNUmber of Unique Values
unique_values =  pd.unique(copy_customer['user_id'])
print(unique_values)

[276186  24792 849315 ... 212798 262696 431280]

In [7]:
#List the Number of values and its occurence inside a column
Unique_Values = pd.value_counts(copy_customer['user_id'])
print(Unique_Values)

45337     16
362951    14
970234    10
32925      9
238654     7
          ..
455127     1
113114     1
111075     1
698852     1
328213     1
Name: user_id, Length: 1663, dtype: int64