In [1]:
import numpy as np
import pandas as pd

In [23]:
df = pd.read_json('renttherunway_final_data.json',lines=True)
df.head()

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age,review_date
0,fit,420272,34d,2260466,137lbs,10.0,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,"5' 8""",14,28.0,"April 20, 2016"
1,fit,273551,34b,153475,132lbs,10.0,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,"5' 6""",12,36.0,"June 18, 2013"
2,fit,360448,NaN,1063761,NaN,10.0,party,This hugged in all the right places! It was a ...,NaN,It was a great time to celebrate the (almost) ...,sheath,"5' 4""",4,116.0,"December 14, 2015"
3,fit,909926,34c,126335,135lbs,8.0,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,"5' 5""",8,34.0,"February 12, 2014"
4,fit,151944,34b,616682,145lbs,10.0,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,"5' 9""",12,27.0,"September 26, 2016"

In [24]:
df['height'] = df['height'].str.replace(" ",'')
df['height'] = df['height'].str.replace("\"",'')
df['height'] = df['height'].str.replace("'", ".")

In [25]:
df['height']

0         5.8
1         5.6
2         5.4
3         5.5
4         5.9
         ...
192539    5.9
192540    5.1
192541    5.8
192542    5.6
192543    5.6
Name: height, Length: 192544, dtype: object

In [27]:
df.height.isna().sum()

677

In [28]:
df.height.fillna(0,inplace=True)

In [29]:
def convert_height(height):
    
        height = str(height).split(".")
        feet = str(height[0])
        try :
            inches = str(height[1])
        except :
            inches = 0
        return (12*int(feet)) +int(inches)

In [30]:
df['height'] = df['height'].apply(lambda x:convert_height(x))

In [31]:
df['height']

0         68
1         66
2         64
3         65
4         69
          ..
192539    69
192540    61
192541    68
192542    66
192543    66
Name: height, Length: 192544, dtype: int64